body {
    font-family: Arial, sans-serif;
}

h1.logo {
    font-family: Questrial, serif;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}

.G {
    color:#4285FE;
}

.o1 {
    color:#ED4132;
}

.o2 {
    color:#FDBC0D;
}

.g {
    color: #4285FE;
}

.l {
    color:#38A750;
}

.e {
    color:#ED4132;
}

div.header-left {
    display: inline-block;
    width: 50%;
    text-align: left;
    margin-top: 8px;
}

div.header-right {
    display: inline-block;
    width: 50%;
    text-align: right;
    margin-top: 8px;
}

div.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding:  0 12px 0 15px;
}

.link:hover {
    text-decoration: underline;
}

.searchbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 475px;
    font-size: 20px;
}

::placeholder {
    color: rgb(173, 172, 172);
}

div.submit-bar {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.submit {
    display: inline-block;
    border-radius: 2px;
    background-color: #F2F2F2;
    font-weight: bold;
    font-size: 12px;
    color: #757575;
    border: none;
    padding: 10px;
}

.submit:hover {
    background-color: #F0F0F0;
    border: 1px solid black;
    color: black;
}
